exportPattern("[[:alpha:]]+")
import(Deducer)
import(Hmisc)
import(rJava)
import(scales)
import(sp)
import(rgdal)
import(OpenStreetMap)
import(JavaGD)
importFrom(UScensus2010, install.blkgrp, install.cdp, install.county, install.tract)